<div class="signin-wrapper">
  <div class="signin-body">
    <form action="" class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">

      <div class="input-signin">
        <!-- <label for="inputEmail" class="label-signup">Email address</label> -->
        <div class="input-text">
          <input
            type="email"
            id="inputEmail"
            name="email"
            class="form-input"
            placeholder="Email address"
            [pattern]="regexEmail"
            autocomplete="off"
            required
            [(ngModel)]="email"
            #Email="ngModel">
        </div>

        <!-- <label for="inputPassword" class="label-signup">Password</label> -->

        <div class="input-text">
          <input
            type="password"
            id="inputPassword"
            name="password"
            class="form-input"
            placeholder="Password"
            [pattern]="regexPassword"
            required
            [(ngModel)]="password"
            #Password="ngModel">
        </div>
      </div>
      <button
        class="btn-submit"
        type="submit"
        [disabled]="Email.errors?.required || Email.errors?.pattern || Password.errors?.required || Password.errors?.pattern">
        Get Started
      </button>

      <!-- <div class="alert-signup" role="alert" *ngIf="isFormInvalid">
        Please fill all fields
      </div>
      <div class="alert-signup" role="alert" *ngIf="areCredentialsInvalid">
        Invalid user or password
      </div> -->

      <div *ngIf="Email.errors">
        <div class="alert-signup" role="alert" *ngIf="Email.errors.required">
          Email required.
        </div>
        <div class="alert-signup" role="alert" *ngIf="Email.errors.pattern">
          Email pattern not valid.
        </div>
      </div>
  
      <div *ngIf="Password.errors">
        <div class="alert-signup" role="alert" *ngIf="Password.errors.required">
          Password required.
        </div>
        <div class="alert-signup" role="alert" *ngIf="Password.errors.pattern">
          Password pattern not valid.
        </div>
      </div>

      <div class="link-div">
        <!-- TODO : link -->
        <a href="" class="a-redirect">CREATE ACCOUNT</a>
        <a href="" class="a-redirect">NEED HELP?</a>
      </div>
    </form>
  </div>

  <div class="footer">
    <div class="f-page-div">
      <ul>
        <li>HELICON COMPANY</li>
        <li>ABOUT US</li>
        <li>BLOG</li>
        <li>LICENSE</li>
      </ul>
    </div>
    <div class="f-copylight-div">
      <p>© 2021, Designed by <span class="text-hightlight">Junho Hwang</span>. Coded by Creative <span class="text-hightlight">Junho Hwang</span>.</p>
    </div>
  </div>
</div>