<div class="signin-wrapper">
  <div class="signin-body">
    <form action="" class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">

      <div class="input-signin">
        <!-- <label for="inputEmail" class="label-signup">Email address</label> -->
        <div class="input-text">
          <input type="email" id="inputEmail" name="email" class="form-input" placeholder="Email address" autocomplete="off" required ngModel>
        </div>

        <!-- <label for="inputPassword" class="label-signup">Password</label> -->
        <div class="input-text">
          <input type="password" id="inputPassword" name="password" class="form-input" placeholder="Password" required ngModel>
        </div>
      </div>

      <button class="btn-submit" type="submit">Get Started</button>

      <div class="alert-signup" role="alert" *ngIf="isFormInvalid">
        Please fill all fields
      </div>
      <div class="alert-signup" role="alert" *ngIf="areCredentialsInvalid">
        Invalid user or password
      </div>

      <a href="" class="a-redirect">CREATE ACCOUNT</a>
      <a href="" class="a-redirect">NEED HELP?</a>
    </form>
  </div>
</div>