:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .spacer {
  flex: 1;
} */

.vertical {
  margin: 0 10px;
  height: 20px;
  border-left: 1px solid white;
}

.login {
  margin: 0 10px;
  font-size: 16px;
}

.login:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home:hover {
  cursor: pointer;
  opacity: 0.8;
}

.toolbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;

  min-width: 450px;

  align-items: center;
  /* background-color: #1976d2; */
  justify-content: space-between;

  opacity: 1;
  color: white;
  font-weight: 600;
}

.toolbar .toolbar-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar .toolbar-home img {
  margin: 0 16px;
}

.toolbar .toolbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar .toolbar-menu #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar .toolbar-menu #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar .toolbar-menu #twitter-logo:hover,
.toolbar .toolbar-menu #youtube-logo:hover {
  opacity: 0.8;
}
/* 
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
} */
